
header {
  padding: 156px 0 100px;
  background: url("assets/personalizado/imagem/header.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/personalizado/imagem/header.jpg");
}

section {
  padding: 150px 0;
}
