.pac-container { z-index: 100000; }
.fotopetsperfil img{
    margin: -50px auto 0;
    border-radius: 50%;
    width: 60px;
    position: relative;
    top: 30px;
}
#petselecao img{
    margin: -50px auto 0;
    border-radius: 3%;
    width: 100%;
    position: relative;
    left: -15px;
    top: 15px;
    margin: 14px;

}
.fotospetsperfil img{
    margin: -60px auto 0;
    border-radius: 10%;
    left: 20px;
    width: 60px;
    position: relative;
    top: 40px;
}
.foto img{
    border-radius: 50%;
}
.fotomensagem img{
    border-radius: 50%;
    position: relative;
}
.horario {
    font-size: 8px;
}

.foto1 img{
    position: relative;
    top:-90px;
    padding-left: -100px;
    width: 25%;
    border-radius: 30%;
}
#chatbox {
    width: 290px;
    background: #fff;
    overflow: hidden;
    height: 484px;
    position: fixed;
    bottom: 0px;
    left: 85%;
    margin-left: -155px;
}

@media screen and (max-width: 600px) {
    #chatbox {
        width: 290px;
        background: #fff;
        overflow: hidden;
        height: 484px;
        position: relative;
        top: 90px;
        left: 85%;
        margin-left: -155px;
    }
}

#friendslist {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 484px;
}

#topmenu {
    height: 50px;
    width: 290px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #777;
}

span.friends {
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
}

.friend {
    height: 70px;
    border-bottom: 1px solid #777;
    position: relative;
}

.friend:hover {
    background: #9cd4f8;
    cursor: pointer;
}

.friend img {
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    float: left;
}

.floatingImg {
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 12px;
    border: 3px solid #fff;
}

.friend p {
    padding: 9px 0 0 0;
    float: left;
    width: 220px;
}

.friend p strong {
    font-weight: 600;
    font-size: 15px;
    color: #CCC;
}

.friend p span {
    font-size: 13px;
    font-weight: 400;
    color: #888;
}

.friend .status {
    background: #4CAF50;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 31px;
    right: 17px;
}

.friend .status.away {
    background: #FFEB3B;
}

.friend .status.inactive {
    background: #EEE;
}

#search {
    background: #FFF url("../imagem/search.png") -11px 0 no-repeat;
    height: 60px;
    width: 290px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#searchfield {
    background: #FFF;
    margin: 21px 0 0 55px;
    border: none;
    padding: 0;
    font-size:12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #000;
}

#searchfield:focus {
    outline: 0;
}

#chatview {
    width: 290px;
    height: 484px;
    position: absolute;
    top: 0;
    left: 0; 
    display: none;
    background: #fff;
}

#profile {
    height: 153px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.p1 #profile {
    background: url("../imagem/marvel.jpg") 0 0 no-repeat;

}
.hidden{
    visibility: hidden;
}
#profile .avatar {
    width: 68px;
    border: 3px solid #fff;
    margin: 23px 0 0;
    border-radius: 50%;
}

#profile p {
    font-weight: 600;
    font-size: 16px;
    margin: 118px 0 -1px;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
}

#profile p.animate {
    margin-top: 97px;
    opacity: 1;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
}

#profile span {
    font-weight: 400;
    font-size: 13px;
}

#close {
    position: absolute;
    top: 8px;
    opacity: 0.8;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#close:hover {
    opacity: 1;
}

.cx, .cy {
    background: #fff;
    position: absolute;
    width: 0px;
    top: 15px;
    right: 15px;
    height: 3px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.cx.s1, .cy.s1 {
    right: 0;
    width: 20px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.cy.s2 {
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.cy.s3 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.cx.s1 {
    right: 0;
    width: 20px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.cx.s2 {
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.cx.s3 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

#chatview, #sendmessage {
    overflow: hidden;
}

.footer {
    position: relative;
    text-align: center;
}

.footer p {
    color: #FFF;
    position: absolute;
    top: 550px;
    left: 34%;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 30px;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.footer a:hover {
    color: #000;
}


@media screen and (max-width: 1920px) {
    .footer p {
        left: 36%;
    }
}

@media screen and (max-width: 1680px) {
    .footer p {
        left: 34%;
    }
}

@media screen and (max-width: 1600px) {
    .footer p {
        left: 33%;
    }
}

@media screen and (max-width: 1440px) {
    .footer p {
        left: 32%;
    }
}

@media screen and (max-width: 1366px) {
    .footer p {
        left: 30%;
    }
}

@media screen and (max-width: 1280px) {
    .footer p {
        left: 29%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        margin: 50px 0;
    }
    #chatbox {
        top: 150px;
    }
    .footer p {
        left: 23%;
        top: 550px;
    }
}

@media screen and (max-width: 966px) {
    .footer p {
        left: 22%;
    }
}

@media screen and (max-width: 900px) {
    .footer p {
        left: 20%;
    }
}

@media screen and (max-width: 853px) {
    .footer p {
        left: 18%;
    }
}

@media screen and (max-width: 800px) {
    .footer p {
        left: 16%;
    }
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 35px;
    }
    .footer p {
        left: 15%;
    }
}

@media screen and (max-width: 667px) {
    .footer p {
        left: 10%;
    }
}

@media screen and (max-width: 640px) {
    .footer p {
        left: 8%;
    }
}

@media screen and (max-width: 600px) {
    .footer p {
        left: 7%;
    }
}

@media screen and (max-width: 568px) {
    h1 {
        font-size: 33px;
    }
    #chatbox {
        left: 52%;
    }
    .footer p {
        left: 3%;
    }
}

@media screen and (max-width: 533px) {
    .footer p {
        left: 2%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
    .footer p {
        left: 0;
    }
}

@media screen and (max-width: 320px) {
    #chatbox {
        left: 53%;
    }
}

#pic{
   display: none;
}

.newbtn{
   cursor: pointer;
}
#blah{
  max-width:100px;
  height:100px;
  margin-top:20px;
}

#site {
    background: rgba(255,255,255,0.8); /* fundo branco com um pouco de transparência */
}

.sucesso {
    color: green;
}
.errror {
    color: red;
    font-size: 11px;
}
.errorCampo {
    color: #fbff00;
    font-size: 11px;
}

.erroLogin {
    font-size: 11px;
    color: red;
}

.barraMapa {
    position: absolute; 
    top: 0px;
}
.campoMapa {
    position: absolute;
    top: -20px;
}
#map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
#salvarLocalizacao {
    position: relative;
    top: -50px;
}

#map1 {
    height: 80%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
.nav-pills {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}
a .material-icons {
    vertical-align: middle;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    color: #fff;
}
.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.nav-pills .nav-item .nav-link {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 5px 45px;
}
#espaco{
    padding-top:130px;
}
.imagem_upload img {
    width: 100%;
}

.informacaoPets {
    position: absolute;
    top: -20px;
    max-width: 200px;
}
.fotoPesquisa img {
    width: 100%;
}
#nomePet {
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
}
#voltarPesquisar {
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
}
#nomePet1{
    position: relative;
    padding-left: 50px;
}
#galeriapets{
    max-width: 50%;
    padding-top: 10px;
}


/* style dos cards */
#card {
    padding: 5px;
}
.label {
    color: #fd7e14;
}
section{
    padding: 100px 0;
}
.details-card {
    background: #ecf0f1;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
}

.card-img span {
    position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
    font-size: 12px;
    margin:0;
    padding:10px 5px;
    line-height: 0;
}
.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.btn-card{
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}


.whov:hover { background-color: #00695c!important; }
.view {
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}
.secondbase {
    background-color: rgba(255,255,255,.6); 
    margin-top: -90px;
}

.fa-blink {
 -webkit-animation: fa-blink .70s linear infinite;
 -moz-animation: fa-blink .70s linear infinite;
 -ms-animation: fa-blink .70s linear infinite;
 -o-animation: fa-blink .70s linear infinite;
 animation: fa-blink .70s linear infinite;

 font-size: 10px;
}

@keyframes fa-blink {
   0% { opacity: 1; }
   50% { opacity: 0.5; }
   100% { opacity: 0; }
}

.card-anuncio{
    max-height: 20%;
}

@media screen and (max-width: 600px) {
    .card-anuncio {
        position: absolute;
        top: -900px;
    }
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.imagem-ativacao {
    width: 120%;
}

.conteudo-home img{
    width: 100%;
}

#loading-animais {
    position: fixed;
    background-color: #FFF;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://petsmeeting.com.br/dev/assets/personalizado/imagem/artes/comp_1.gif') 50% 50% no-repeat white;
}


.camera-perfil {
    position: relative;
    top: -10px;
    padding-left: 40px;
}

.imagem-perfil {
    max-width: 80%;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top:-80px;
    left: -10px;
}
.div-completa {
    max-width: 100%;
    position: relative;
    top:-2px;
}

.imagen-capa {
    max-width: 100%;
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.imagem-perfil-menu {
    max-width: 100%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.imagem-perfil-selecionar-perfil {
    max-width: 100%;
    width: 71px;
    height: 70px;
    object-fit: cover;
    border-radius: 14%;
}

.imagem-perfil-pets-perfil {
    max-width: 100%;
    width: 100%;
    height: 320px;
    position: relative;
    top: -14px;
    object-fit: cover;
    border-radius: 6%;
}

.camera-perfil-pets {
    position: relative;
    top: 40px;
    padding-left: 40px;
}

.imagem-camera-perfil-pets {
    width: 46px;
    height: 35px;
    object-fit: cover;
    position: absolute;
    left: 190px;
    top: 7px;
}

.imagem-editar-perfil {
    max-width: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 250px;
    top: 10px;
}

.imagem-fundo {
    max-width: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.imagem-fundo-servicos {
    max-width: 100%;
    width: 330;
    height: 330px;
    object-fit: cover;
}

.imagem-fundo-reserva {
    max-width: 100%;
    width: 91%;
    height: 160px;
    left: 16px;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
}

.titulo-reserva-servico {
    position: relative;
    text-align: justify;
    top: -16px;
}
.agendamento-servico {
    position: relative;
    top: -30px;
    color: white;
}
.imagem-fundo-agendamento {
    max-width: 100%;
    width: 290px;
    height: 200px;
    object-fit: cover;
}

.imagem-fundo-noticias {
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.imagem-tipo-servico {
    max-width: 100%;
    height: 50px;
    object-fit: cover;
}

.imagem-tipo-servico-estabelecimento {
    max-width: 100%;
    height: 74px;
    object-fit: cover;
}

.imagem-fundo-sem-consulta {
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.imagem-fundo-sem-atendimento {
    max-width: 100%;
    width: 50%;
    height: 300px;
    object-fit: cover;
}

.imagem-fundo-sem-cartao {
    max-width: 40%;
    width: 50%;
    height: 300px;
    object-fit: cover;
}

.imagem-tipo-atendimento {
    max-width: 100%;
    height: 30px;
    object-fit: cover;
}

.imagem-fundo-sem-atendimento-estabelecimento {
    max-width: 100%;
    width: 50%;
    height: 210px;
    object-fit: cover;
}

.imagem-perfil-servico {
    max-width: 80%;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: -130px;
    left: -10px;
}


li {
    padding-left: 4px;
    list-style-type: none;
}

.accordion .card-header:after {
    font: normal normal normal 14px/1 NucleoIcons;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    content: '\ea0f';
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    transform: translateY(-50%);
}

.accordion>.card .card-header {
    margin-bottom: -1px;
}
.accordion .card-header {
    position: relative;
    cursor: pointer;
}
.card-header:first-child {
    border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
}

.logo {
    position: relative;
    left: 47px;
}

.texto {
    text-align: justify;
    font-size: 14px;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa-star:before {
    content: '\f005';
    color: #FC0;
}

.estrelas  input[type=radio]:checked  ~ label i.fa-star:before {
    color: #CCC;
}

.estrelas {
    position: relative;
    left: 75px;
}


.estrelas-avaliacao input[type=radio] {
    display: none;
}

.estrelas-avaliacao label i.fa-star:before {
    content: '\f005';
    color: #FC0;
}

.estrelas-avaliacao input[type=radio]:checked  ~ label i.fa-star:before {
    color: #CCC;
}

.estrelas-avaliacao {
    position: relative;
    left: 0px;
}

p.texto-comentario {
    font-size: 11px;
    font-weight: bold;
}

.imagem-fundo-pagamento {
    max-width: 100%;
    width: 100%;
    height: 480px;
    object-fit: cover;
    position: relative;
}
.d-flex {
   display: flex !important;
}
.d-md-flex {
    display: flex !important;
}

.titulo-inicio {
    position: relative;
    padding-left: 25%;
}
.boto-acessar {
    position: absolute;
    left: 0;
    top: 580px;
}

img.logo-titulo {
    position: absolute;
    top: -600px;
    left: 70px;
    width: 220px;
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  color: white;
  background: url('https://petsmeeting.com.br/assets/personalizado/imagem/intro.gif') no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-size: cover;
}

.imagem-cartao-pets-perfil {
    max-width: 100%;
    width: 130px;
    height: 130px;
    top: 10px;
    object-fit: cover;
    border-radius: 50%;
}

img#fotoUsuario {
    height: 40px;
    width: 40px;
}

.imagem-perfil-selecionar-perfil-estabelecimento {
    max-width: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.imagem-perfil-pets-perfil-estabelecimento {
    max-width: 100%;
    width: 130px;
    height: 130px;
    top: 50px;
    object-fit: cover;
    border-radius: 50%;
}